.beat-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 830px)  {
    .beat-list {
        margin: 1px;
    }
}

@media only screen  and (max-width: 420px){
    .beat-list {
        /* margin: 10px 0; */
        padding: 0 10px;
    }
}