input[type="radio"]{
    display: none;
}
 input[type="radio"]:checked+label{ 
      background-color: rgba(255,255,0,0.2);
      border-right: solid 10px rgba(100, 153, 233, 0.877);
      /* border-radius: 13px; */
      padding: 0 15px;
      line-height: 35px;
      margin: 10px 80px;
      box-shadow: 3px 3px rgba(0 , 0, 0, 0.3); 
      font-weight: bold;
      color: darkblue;
      font-weight: 500;
      transition: .3s
    } 
.instrument {
    display: inline-block;
}

  label {
    background-color: rgba(0, 0, 0, 0.1);
    color: black;
    text-shadow: 1px 1px white;
    font-weight: bold;
   display: inline-block;
    padding: 10px;
    font-size: 1.3em;
    transition: .3s;
}
label:hover {
    cursor:pointer;
}

.nav {
    height: 40px;
}